
@import url(fonts.googleapis.com/css?family=Vibur);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

*{
    margin: 0;
}




.page{
    display: flex;
    position: relative;
    flex: 1;
    }
   
    
.picture{
background-image: url(images/bg3.gif);
background-size:cover;
min-width: 30vw;
height: 100vh;
overflow: hidden;
position:sticky;
top: 0;
}

.form-section{
    padding-top: 60px;
   background-color: #000000;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: flex-start;
    width: 100%;

}

.formbody{ 
  padding: 2vw 2vw 2vw 5vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
    flex-wrap: wrap; 
}


label{
    position: absolute;
    font-family: 'vibor',sans-serif;   
    color: #DE3076ff;
    display: block;
    font-size: 0.8rem;
    transition: all 0.2s ease-out;
    bottom: 5px;

      
}

label:hover {
    cursor: text;
}

input{
    font-size: 0.8rem;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    background-color: transparent;
    border-bottom: 1px solid rgb(206, 156, 176);
    color: rgb(255, 255, 255);
    width: 80%;   

}
input:focus{
     outline: none;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-bottom: 1px solid #DE3076ff;
      color: #f0bbd0;
      width: 80%;   
     transition: all 0.2s ease-in;
}

input:focus + label,
input:not(:placeholder-shown) + label{
    transform: translateY(-15px);
    font-size: .6rem;
    color: #999;
}


.row{
    position: relative;
}

.toptext{
    color:#DE3076ff;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;

}

.submit{
    margin-bottom: 20px;
    font-family: 'Poppins',sans-serif;
        border: 1px solid #DE3076ff;
        border-radius: 0.5vw;
        background-color: transparent;
        outline: none;
        padding: 10px 26px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin: 4px 2px;
        color:  #DE3076ff;;
        cursor: pointer;
        margin-left: 5vw;

      
      
      
}
.submit:focus,
.submit:hover {
    animation-name: fill;
    animation-duration: .5s;
    color:  white;
    border: 1px solid #ffffff;
    
    background-color: #DE3076ff;

  }
  
  @keyframes fill {
    from {
      background-color: transparent;
      background-image:
        radial-gradient(circle at center, #DE3076ff, transparent);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    to {
      background-color: #DE3076ff;
      background-image:
        radial-gradient(circle at center, #DE3076ff, transparent);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }


  .logo{
    background-color: black  0.5;
  }
  form{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    align-items: flex-start;
    width: 100%;
    
  }
  legend{
    color:#DE3076ff;
    font-family: 'Poppins',sans-serif;
    font-size: max(3vh,20px);
    font-weight: 400;
    margin-left: 5vw;

  }




ul{
  padding: 0;
}
#password-requirements{
  position:relative;
}

  #password-requirements li {
    color: red;
    text-decoration: none;
    list-style-type:none;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    font-size: 0.6rem ;
  }
  
  #password-requirements li.green {
    color: green;
  }
  



  .bubble {
    position: absolute;
    top: -50px;
    left: -10px;
    background-color: #1b1b1b;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: max-content;


    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
  }

  input:focus +label+ .bubble{

    top: 35px;
    left: -10px;
    opacity: 1;
    visibility: visible;
  }

  .hint{
    display: none;
    font-size: 10px;
    color:rgb(255, 255, 255);
    position: absolute;
    font-weight: 900;
    top:20px;
    padding: 0px 2px;
  }
  
  
  .invalid{

    border-bottom: 2px solid rgb(255, 0, 0) !important;

  }

  .valid{
    border-bottom: 1px solid rgb(36, 126, 0) !important;
  }

  .signin{
    font-family: 'vibor',sans-serif;   
    color: rgb(222, 48, 118);
    display: block;
    font-size: 0.8rem;
    padding-left: 5vw;
    margin-bottom: 2vh;
    margin-top: 1vh;
  }
  .signin>a{
    color: rgb(255, 255, 255);
    font-weight: 500;


  }
  .picture>div>img{
    width: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
  }
 .logo{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 900;
font-size: 3vw;
color: rgb(222, 48, 118);
-webkit-text-stroke: 0.1px white;


  }

  .logo-on-picture{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:rgba(222, 48, 118, 0.5);
    margin-top: 25vh;
  }
  @media screen and (max-width: 600px) {

    input:focus +label+ .bubble{

      top: 0px;
      left: 120px;
      opacity: 1;
      visibility: visible;
    }
    .logo{
     
      font-size: 6vw;
      
      
      
        }
  }